 .currentprojects {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 5091.00px;
  height: 1712.00px;
  left: -495.00px;
  top: 4560.00px;

}

 .currentprojects .currentProjects {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 100.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 1246.00px;
  height: 122.00px;
  left: 1423.00px;
  top: 0.00px;

}

 .currentprojects .rectangle21 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
background-image: url('../../assets/rectangle21.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    box-shadow: none;
    width: 2880.00px;
  height: 1339.00px;
  left: 2211.00px;
  top: 363.00px;

}

 .currentprojects .seeprojects {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 414.00px;
  height: 164.00px;
  left: 2758.00px;
  top: 803.00px;

}

 .currentprojects .seeprojects .seeProjects {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(33, 120, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 60.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 357.00px;
  height: 164.00px;
  left: 0.00px;
  top: 0.00px;

}

 .currentprojects .seeprojects .path14 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    fill: transparent;
    stroke: rgba(88, 223, 255, 1);
        stroke-width: 8.00px;
        stroke-linecap: round;
    box-shadow: none;
    width: 32.08px;
  height: 51.58px;
  left: 389.92px;
  top: 16.55px;

}

 .currentprojects .x179351f2b {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1623.00px;
  height: 955.00px;
  left: 826.00px;
  top: 367.00px;

}

 .currentprojects .x179351f2b .mask66e15c69 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(33, 120, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
  filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
    width: 532.00px;
  height: 739.00px;
  left: 1091.00px;
  top: 108.00px;

}

 .currentprojects .x179351f2b .x169611273 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/x169611273.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 532.00px;
  height: 739.00px;
  left: 1091.00px;
  top: 108.00px;

}

 .currentprojects .x179351f2b .x169611273 .maskf789fc47 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(33, 120, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
  filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
    width: 532.00px;
  height: 739.00px;
  left: 0.00px;
  top: 0.00px;

}

 .currentprojects .x179351f2b .rectangle20e271a08e {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1433.00px;
  height: 955.00px;
  left: 132.00px;
  top: 0.00px;

}

 .currentprojects .x179351f2b .brigitteTohm58461989e45bf {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 532.00px;
  height: 739.00px;
  left: 0.00px;
  top: 108.00px;

}

 .currentprojects .x179351f2b .brigitteTohm58461989e45bf .maskCopy343883db3 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 0.7947279810905457;
    cursor: default;
  
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
  filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
    width: 532.00px;
  height: 739.00px;
  left: 0.00px;
  top: 0.00px;

}

 .currentprojects .x179351f2b .brigitteTohm58461989e45bf .brigitteTohm58461 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/brigitteTohm58461.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 532.00px;
  height: 739.00px;
  left: 0.00px;
  top: 0.00px;

}

 .currentprojects .x179351f2b .brigitteTohm58461989e45bf .brigitteTohm58461 .maskCopy3 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
  filter: drop-shadow(0px 50px 300px rgba(0, 0, 0, 0.058823529411764705));
    width: 532.00px;
  height: 739.00px;
  left: 0.00px;
  top: 0.00px;

}

 .currentprojects .x179351f2b .soonYouCanInvest {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(129, 131, 131, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Roman, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 872.00px;
  height: 330.00px;
  left: 600.00px;
  top: 241.00px;

}

 .currentprojects .x179351f2b .freetrialbutton {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 489.00px;
  height: 97.00px;
  left: 600.00px;
  top: 746.00px;

}

 .currentprojects .x179351f2b .freetrialbutton .rectangle36c94f452 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/rectangle36c94f452.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 16.00px;
    border-top-right-radius: 16.00px;
    border-bottom-left-radius: 16.00px;
    border-bottom-right-radius: 16.00px;
    -webkit-filter: drop-shadow(0px 6px 17px rgba(31, 121, 230, 0.2));
  filter: drop-shadow(0px 6px 17px rgba(31, 121, 230, 0.2));
    width: 489.00px;
  height: 97.00px;
  left: 0.00px;
  top: 0.00px;

}

 .currentprojects .x179351f2b .freetrialbutton .showThePropertyPr {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 106.00px;
  height: 41.00px;
  left: 58.00px;
  top: 28.00px;

}

 .currentprojects .x179351f2b .investInSydhavnsH {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 55.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 945.00px;
  height: 75.00px;
  left: 598.00px;
  top: 98.00px;

}

 .currentprojects .line5 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    fill: transparent;
    stroke: rgba(240, 244, 244, 1);
        stroke-width: 8.00px;
        stroke-linecap: round;
    box-shadow: none;
    width: 3471.00px;
  height: 16.00px;
  left: -8.00px;
  top: 1695.00px;

}

 .currentprojects .rectangle13 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/rectangle13.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 6px 17px rgba(33, 168, 255, 0.2));
  filter: drop-shadow(0px 6px 17px rgba(33, 168, 255, 0.2));
    width: 638.00px;
  height: 20.00px;
  left: 1267.00px;
  top: 1692.00px;

}

 .security053942c6 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 2649.00px;
  height: 1011.00px;
  left: 120.00px;
  top: 6621.00px;

}

 .security053942c6 .securitydea8e3a6 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 100.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 376.00px;
  height: 137.00px;
  left: 0.00px;
  top: 0.00px;

}

 .security053942c6 .advancedSecurity {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: right;
    line-height: 370.00px;
    letter-spacing: 0.00px;
    color: rgba(216, 216, 216, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 100.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Black, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 502.00px;
  height: 507.00px;
  left: 2147.00px;
  top: -80.50px;

}

 .security053942c6 .ii {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 759.00px;
  height: 606.00px;
  left: 1038.00px;
  top: 405.00px;

}

 .security053942c6 .ii .encryption {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(33, 120, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 55.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 277.00px;
  height: 75.00px;
  left: 0.00px;
  top: 161.00px;

}

 .security053942c6 .ii .weUseSslEncryptio {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(129, 131, 131, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Roman, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 752.00px;
  height: 275.00px;
  left: 7.00px;
  top: 331.00px;

}

 .security053942c6 .ii .rectangle22Copy {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(88, 223, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 8.00px;
    border-top-right-radius: 8.00px;
    border-bottom-left-radius: 8.00px;
    border-bottom-right-radius: 8.00px;
    box-shadow: none;
    width: 65.00px;
  height: 11.00px;
  left: 4.00px;
  top: 259.00px;

}

 .security053942c6 .ii .illustration28847619 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 51.00px;
  height: 82.00px;
  left: 12.00px;
  top: 0.00px;

}

 .security053942c6 .ii .illustration28847619 .rectangle25 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(88, 223, 255, 1);
    border-bottom-style: solid;
    border-bottom-width: 8.00px;
    border-left-color: rgba(88, 223, 255, 1);
    border-left-style: solid;
    border-left-width: 8.00px;
    border-right-color: rgba(88, 223, 255, 1);
    border-right-style: solid;
    border-right-width: 8.00px;
    border-top-color: rgba(88, 223, 255, 1);
    border-top-style: solid;
    border-top-width: 8.00px;
    border-top-left-radius: 14.00px;
    border-top-right-radius: 14.00px;
    border-bottom-left-radius: 14.00px;
    border-bottom-right-radius: 14.00px;
    box-shadow: none;
    width: 40.00px;
  height: 49.00px;
  left: 5.00px;
  top: 0.00px;

}

 .security053942c6 .ii .illustration28847619 .rectangle26 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(33, 120, 255, 1);
    border-bottom-style: solid;
    border-bottom-width: 8.00px;
    border-left-color: rgba(33, 120, 255, 1);
    border-left-style: solid;
    border-left-width: 8.00px;
    border-right-color: rgba(33, 120, 255, 1);
    border-right-style: solid;
    border-right-width: 8.00px;
    border-top-color: rgba(33, 120, 255, 1);
    border-top-style: solid;
    border-top-width: 8.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    box-shadow: none;
    width: 51.00px;
  height: 51.00px;
  left: -8.00px;
  top: 23.00px;

}

 .security053942c6 .ii .illustration28847619 .rectangle27 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(88, 223, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 5.50px;
    border-top-right-radius: 5.50px;
    border-bottom-left-radius: 5.50px;
    border-bottom-right-radius: 5.50px;
    box-shadow: none;
    width: 11.00px;
  height: 20.00px;
  left: 20.00px;
  top: 51.00px;

}

 .security053942c6 .ii .illustration28847619 .oval12 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    fill: rgba(33, 120, 255, 1);
    box-shadow: none;
    width: 11.00px;
  height: 11.00px;
  left: 20.00px;
  top: 51.00px;

}

 .security053942c6 .iii {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 759.00px;
  height: 490.26px;
  left: 81.00px;
  top: 429.37px;

}

 .security053942c6 .iii .security {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(33, 120, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 55.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 207.00px;
  height: 75.00px;
  left: 0.00px;
  top: 155.26px;

}

 .security053942c6 .iii .weAreRegisteredAs {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(129, 131, 131, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Roman, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 752.00px;
  height: 165.00px;
  left: 7.00px;
  top: 325.26px;

}

 .security053942c6 .iii .illustrationeaf4f377 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 79.94px;
  height: 89.82px;
  left: 2.65px;
  top: 0.00px;

}

 .security053942c6 .iii .illustrationeaf4f377 .path15 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    fill: transparent;
    stroke: rgba(33, 120, 255, 1);
        stroke-width: 8.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 95.94px;
  height: 105.82px;
  left: -8.00px;
  top: -8.00px;

}

 .security053942c6 .iii .illustrationeaf4f377 .oval11 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(88, 223, 255, 1);
        stroke-width: 8.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 35.00px;
  height: 35.00px;
  left: 23.35px;
  top: 23.26px;

}

 .readonblog {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 2627.00px;
  height: 2026.00px;
  left: 236.00px;
  top: 7892.00px;

}

 .readonblog .readOnTheBlog {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 100.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 720.00px;
  height: 122.00px;
  left: 1819.00px;
  top: 0.00px;

}

 .readonblog .x13217b2d7 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1263.00px;
  height: 1597.00px;
  left: 0.00px;
  top: 429.00px;

}

 .readonblog .x13217b2d7 .maskdf3fd445 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(33, 120, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1045.00px;
  height: 938.00px;
  left: 110.00px;
  top: 659.00px;

}

 .readonblog .x13217b2d7 .rectangle20f43221fe {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 0px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 0px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1263.00px;
  height: 885.00px;
  left: 0.00px;
  top: 655.00px;

}

 .readonblog .x13217b2d7 .techbbq2017 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 55.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 328.00px;
  height: 67.00px;
  left: 110.00px;
  top: 1040.00px;

}

 .readonblog .x13217b2d7 .theDanishStartupS {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(129, 131, 131, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 1045.00px;
  height: 196.00px;
  left: 117.00px;
  top: 1168.00px;

}

 .readonblog .x13217b2d7 .climateKic350836735a6b96 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 0.7991600036621094;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1045.00px;
  height: 938.00px;
  left: 110.00px;
  top: 0.00px;

}

 .readonblog .x13217b2d7 .climateKic350836735a6b96 .maskCopy471a266a9 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1045.00px;
  height: 938.00px;
  left: 0.00px;
  top: 0.00px;

}

 .readonblog .x13217b2d7 .climateKic350836735a6b96 .climateKic350836aa7325c3 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/climateKic350836aa7325c3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1045.00px;
  height: 938.00px;
  left: 0.00px;
  top: 0.00px;

}

.readonblog .x13217b2d7 .climateKic350836735a6b96 .climateKic350836aa7325c3 .maskCopy4e481559c {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1045.00px;
  height: 938.00px;
  left: 0.00px;
  top: 0.00px;

}

.readonblog .x29681ebc1 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1263.00px;
  height: 1597.00px;
  left: 1364.00px;
  top: 429.00px;

}

 .readonblog .x29681ebc1 .maskc3b51980 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(33, 120, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1045.00px;
  height: 938.00px;
  left: 110.00px;
  top: 659.00px;

}

 .readonblog .x29681ebc1 .rectangle20 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    -webkit-filter: drop-shadow(0px 0px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 0px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1263.00px;
  height: 885.00px;
  left: 0.00px;
  top: 655.00px;

}

 .readonblog .x29681ebc1 .getMoreOfYourPen {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 55.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 401.00px;
  height: 67.00px;
  left: 110.00px;
  top: 1040.00px;

}

 .readonblog .x29681ebc1 .doYouWantToOptim {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(129, 131, 131, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 1045.00px;
  height: 245.00px;
  left: 117.00px;
  top: 1168.00px;

}

 .readonblog .x29681ebc1 .climateKic350836125f981d {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 0.8046330213546753;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1045.00px;
  height: 938.00px;
  left: 110.00px;
  top: 0.00px;

}

 .readonblog .x29681ebc1 .climateKic350836125f981d .maskCopy4ac7c98c2 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 0.7996399998664856;
    cursor: default;
  
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1045.00px;
  height: 938.00px;
  left: 0.00px;
  top: 0.00px;

}

 .readonblog .x29681ebc1 .climateKic350836125f981d .climateKic350836 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/climateKic350836.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
  
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1045.00px;
  height: 938.00px;
  left: 0.00px;
  top: 0.00px;

}

 .readonblog .x29681ebc1 .climateKic350836125f981d .climateKic350836 .maskCopy4 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 15.00px;
    border-top-right-radius: 15.00px;
    border-bottom-left-radius: 15.00px;
    border-bottom-right-radius: 15.00px;
    -webkit-filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
  filter: drop-shadow(0px 50px 400px rgba(0, 0, 0, 0.050980392156862744));
    width: 1045.00px;
  height: 938.00px;
  left: 0.00px;
  top: 0.00px;

}
