
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text:black;
  --gradient-bar:White;
  
  --color-bg:black;
  --color-footer : white;
  --color-text: black;
  --color-subtext:black;
}