.getaccess {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 4618.99px;
  height: 2585.80px;
  left: 0.00px;
  top: 10051.00px;

}

.getaccess .terrahHolly163293eb02306 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 4618.99px;
  height: 2585.80px;
  left: 0.00px;
  top: 0.00px;

}

.getaccess .terrahHolly163293eb02306 .rectangle29 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/rectangle29.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 3.00px;
    border-top-right-radius: 3.00px;
    border-bottom-left-radius: 3.00px;
    border-bottom-right-radius: 3.00px;
    box-shadow: none;
    width: 2879.00px;
  height: 1654.00px;
  left: 1738.49px;
  top: -0.50px;

}

.getaccess .terrahHolly163293eb02306 .mask24a53c5f {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(54, 66, 93, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 3105.00px;
  height: 2414.80px;
  left: 0.00px;
  top: 171.00px;

}

.getaccess .terrahHolly163293eb02306 .terrahHolly16329 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/terrahHolly16329.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 2880.00px;
  height: 2414.80px;
  left: 0.00px;
  top: 171.00px;

}

.getaccess .terrahHolly163293eb02306 .terrahHolly16329 .mask {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(54, 66, 93, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 2880.00px;
  height: 2414.80px;
  left: 0.00px;
  top: 0.00px;

}

.getaccess .getAccessToBricks {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 98.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 2254.00px;
  height: 120.00px;
  left: 393.11px;
  top: 487.53px;

}

.getaccess .currentlyBrickshar {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 54.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 2142.00px;
  height: 132.00px;
  left: 391.28px;
  top: 729.95px;

}

.getaccess .x1 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1219.83px;
  height: 103.00px;
  left: 940.08px;
  top: 1200.91px;

}

.getaccess .x1 .line7fca01ed6 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(33, 120, 255, 1);
        stroke-width: 4.00px;
        stroke-linecap: square;
    box-shadow: none;
    width: 1227.83px;
  height: 8.00px;
  left: -4.00px;
  top: 99.00px;

}

.getaccess .x1 .name {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 122.00px;
  height: 49.00px;
  left: 74.50px;
  top: 7.50px;

}

.getaccess .x1 .oval14 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(33, 120, 255, 1);
        stroke-width: 5.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 26.00px;
  height: 26.00px;
  left: 2.50px;
  top: 11.50px;

}

.getaccess .x1 .rectangle30 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: transparent;
    border-bottom-color: rgba(33, 120, 255, 1);
    border-bottom-style: solid;
    border-bottom-width: 5.00px;
    border-left-color: rgba(33, 120, 255, 1);
    border-left-style: solid;
    border-left-width: 5.00px;
    border-right-color: rgba(33, 120, 255, 1);
    border-right-style: solid;
    border-right-width: 5.00px;
    border-top-color: rgba(33, 120, 255, 1);
    border-top-style: solid;
    border-top-width: 5.00px;
    border-top-left-radius: 7.50px;
    border-top-right-radius: 7.50px;
    border-bottom-left-radius: 7.50px;
    border-bottom-right-radius: 7.50px;
    box-shadow: none;
    width: 30.00px;
  height: 15.00px;
  left: 0.50px;
  top: 37.50px;

}

.getaccess .x1 .line8 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
        stroke-width: 5.00px;
        stroke-linecap: square;
    box-shadow: none;
    width: 10.00px;
  height: 69.54px;
  left: 78.00px;
  top: -5.00px;

}

.getaccess .x2 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1219.83px;
  height: 95.50px;
  left: 940.08px;
  top: 1453.05px;

}

.getaccess .x2 .line709b21dca {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(109, 123, 156, 1);
        stroke-width: 4.00px;
        stroke-linecap: square;
    box-shadow: none;
    width: 1227.83px;
  height: 8.00px;
  left: -4.00px;
  top: 91.50px;

}

.getaccess .x2 .email {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 114.00px;
  height: 49.00px;
  left: 84.50px;
  top: 0.00px;

}

.getaccess .x2 .group28 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 38.00px;
  height: 30.19px;
  left: 0.50px;
  top: 11.81px;

}

.getaccess .x2 .group28 .path17 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(109, 123, 156, 1);
        stroke-width: 5.00px;
        stroke-linecap: round;
    box-shadow: none;
    width: 45.13px;
  height: 21.85px;
  left: -3.18px;
  top: -5.00px;

}

.getaccess .x2 .group28 .rectangle31 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: transparent;
    border-bottom-color: rgba(109, 123, 156, 1);
    border-bottom-style: solid;
    border-bottom-width: 5.00px;
    border-left-color: rgba(109, 123, 156, 1);
    border-left-style: solid;
    border-left-width: 5.00px;
    border-right-color: rgba(109, 123, 156, 1);
    border-right-style: solid;
    border-right-width: 5.00px;
    border-top-color: rgba(109, 123, 156, 1);
    border-top-style: solid;
    border-top-width: 5.00px;
    border-top-left-radius: 8.00px;
    border-top-right-radius: 8.00px;
    border-bottom-left-radius: 8.00px;
    border-bottom-right-radius: 8.00px;
    box-shadow: none;
    width: 38.00px;
  height: 30.00px;
  left: -5.00px;
  top: -4.81px;

}

.getaccess .x3 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1219.83px;
  height: 96.50px;
  left: 940.08px;
  top: 1696.88px;

}

.getaccess .x3 .line7 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(109, 123, 156, 1);
        stroke-width: 4.00px;
        stroke-linecap: square;
    box-shadow: none;
    width: 1227.83px;
  height: 8.00px;
  left: -4.00px;
  top: 92.50px;

}

.getaccess .x3 .telephoneNumber {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Roman, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 338.00px;
  height: 55.00px;
  left: 84.50px;
  top: 0.00px;

}

.getaccess .x3 .group25 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(-30.00deg);
  -webkit-transform: rotate(-30.00deg);
  transform: rotate(-30.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 15.00px;
  height: 39.00px;
  left: 10.43px;
  top: 3.75px;

}

.getaccess .x3 .group25 .oval15 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(54, 66, 93, 1);
    stroke: rgba(109, 123, 156, 1);
        stroke-width: 5.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 25.00px;
  height: 25.00px;
  left: -5.00px;
  top: -5.00px;

}

.getaccess .x3 .group25 .oval15Copy {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(54, 66, 93, 1);
    stroke: rgba(109, 123, 156, 1);
        stroke-width: 5.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 25.00px;
  height: 25.00px;
  left: -5.00px;
  top: 19.00px;

}

.getaccess .x3 .group25 .line9 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(109, 123, 156, 1);
        stroke-width: 5.00px;
        stroke-linecap: square;
    box-shadow: none;
    width: 10.00px;
  height: 27.00px;
  left: -4.50px;
  top: 4.50px;

}

.getaccess .signupbutton {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 466.00px;
  height: 138.00px;
  left: 1331.74px;
  top: 2095.80px;

}

.getaccess .signupbutton .rectangle3 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/rectangle3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 16.00px;
    border-top-right-radius: 16.00px;
    border-bottom-left-radius: 16.00px;
    border-bottom-right-radius: 16.00px;
    -webkit-filter: drop-shadow(0px 6px 17px rgba(31, 121, 230, 0.2));
  filter: drop-shadow(0px 6px 17px rgba(31, 121, 230, 0.2));
    width: 466.00px;
  height: 138.00px;
  left: 0.00px;
  top: 0.00px;

}

.getaccess .signupbutton .signUp {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 44.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 160.00px;
  height: 60.00px;
  left: 153.00px;
  top: 39.00px;

}

.getaccess .weWishToBeInClo {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(109, 123, 156, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Roman, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 1330.00px;
  height: 110.00px;
  left: 867.61px;
  top: 1854.49px;

}

.pexelsToddTrapani2276927 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 0.5791590213775635;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 1420.00px;
  height: 2119.00px;
  left: 1419.00px;
  top: 260.50px;

}

.pexelsJim1118786 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/pexelsJim1118786.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 0.9144600033760071;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 501.00px;
  height: 699.74px;
  left: 350.00px;
  top: 5052.50px;

}

.i {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 763.00px;
  height: 476.00px;
  left: 2131.00px;
  top: 7023.00px;

}

.i .fenced {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(33, 120, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 55.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Heavy, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 187.00px;
  height: 75.00px;
  left: 4.00px;
  top: 141.00px;

}

.i .yourInvestmentsAre {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(129, 131, 131, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 40.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Avenir-Roman, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 752.00px;
  height: 165.00px;
  left: 11.00px;
  top: 311.00px;

}

.i .rectangle22 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(88, 223, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 8.00px;
    border-top-right-radius: 8.00px;
    border-bottom-left-radius: 8.00px;
    border-bottom-right-radius: 8.00px;
    box-shadow: none;
    width: 65.00px;
  height: 11.00px;
  left: 8.00px;
  top: 239.00px;

}

.i .illustration {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 112.00px;
  height: 63.00px;
  left: 0.00px;
  top: 0.00px;

}

.i .illustration .rectangle24 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(88, 223, 255, 1);
    border-bottom-style: solid;
    border-bottom-width: 8.00px;
    border-left-color: rgba(88, 223, 255, 1);
    border-left-style: solid;
    border-left-width: 8.00px;
    border-right-color: rgba(88, 223, 255, 1);
    border-right-style: solid;
    border-right-width: 8.00px;
    border-top-color: rgba(88, 223, 255, 1);
    border-top-style: solid;
    border-top-width: 8.00px;
    border-top-left-radius: 4.50px;
    border-top-right-radius: 4.50px;
    border-bottom-left-radius: 4.50px;
    border-bottom-right-radius: 4.50px;
    box-shadow: none;
    width: 112.00px;
  height: 9.00px;
  left: -8.00px;
  top: 20.00px;

}

.i .illustration .rectangle23 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(33, 120, 255, 1);
        stroke-width: 6.00px;
        stroke-linecap: round;
    box-shadow: none;
    width: 36.00px;
  height: 84.00px;
  left: 3.00px;
  top: -9.00px;

}

.i .illustration .rectangle23Copy {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(33, 120, 255, 1);
        stroke-width: 6.00px;
        stroke-linecap: round;
    box-shadow: none;
    width: 36.00px;
  height: 84.00px;
  left: 37.00px;
  top: -9.00px;

}

.i .illustration .rectangle23Copy2 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(33, 120, 255, 1);
        stroke-width: 6.00px;
        stroke-linecap: round;
    box-shadow: none;
    width: 36.00px;
  height: 84.00px;
  left: 71.00px;
  top: -9.00px;

}

.i .illustration .oval10 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(88, 223, 255, 1);
    box-shadow: none;
    width: 9.00px;
  height: 9.00px;
  left: 15.00px;
  top: 27.00px;

}

.i .illustration .oval10Copy {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(88, 223, 255, 1);
    box-shadow: none;
    width: 9.00px;
  height: 9.00px;
  left: 49.00px;
  top: 27.00px;

}

.i .illustration .oval10Copy2 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: rgba(88, 223, 255, 1);
    box-shadow: none;
    width: 9.00px;
  height: 9.00px;
  left: 83.00px;
  top: 27.00px;

}

.rectangle22Copy2 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(88, 223, 255, 1);
    border-bottom-color: rgba(151, 151, 151, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(151, 151, 151, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(151, 151, 151, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(151, 151, 151, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 8.00px;
    border-top-right-radius: 8.00px;
    border-bottom-left-radius: 8.00px;
    border-bottom-right-radius: 8.00px;
    box-shadow: none;
    width: 65.00px;
  height: 11.00px;
  left: 204.00px;
  top: 7302.00px;

}

.group9784 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 340.00px;
  height: 443.00px;
  left: 992.00px;
  top: 481.00px;

}

.group9784 .rectangle1746 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 23.00px;
    border-top-right-radius: 23.00px;
    border-bottom-left-radius: 23.00px;
    border-bottom-right-radius: 23.00px;
    -webkit-filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.10980392156862745));
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.10980392156862745));
    width: 340.00px;
  height: 443.00px;
  left: 0.00px;
  top: 0.00px;

}

.group9784 .upcomingTasks {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(52, 52, 52, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 171.00px;
  height: 28.00px;
  left: 76.00px;
  top: 26.17px;

}

.group9784 .group9703 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 276.00px;
  height: 138.00px;
  left: 32.00px;
  top: 90.00px;

}

.group9784 .group9703 .xcf78faa9 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(40, 150, 233, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 16.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 37.00px;
  height: 23.00px;
  left: 186.00px;
  top: 0.00px;

}

.group9784 .group9703 .phpProject1d60ead1 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(52, 52, 52, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 101.00px;
  height: 21.00px;
  left: 15.00px;
  top: 0.77px;

}

.group9784 .group9703 .loremIpsumIsSimplyDummyTextOfThePrintingAndTypesettingIndustryLoremIpsumHasBeenTheIndustrysStandardDummyTextEverSinceThe1500sWhenAnUnknownPrinterTookAGalley75fff50f {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(52, 52, 52, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 10.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 276.00px;
  height: 63.00px;
  left: 0.00px;
  top: 25.00px;

}

.group9784 .group9703 .in3Dayse39aca74 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(181, 181, 181, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 10.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 46.00px;
  height: 15.00px;
  left: 229.00px;
  top: 4.00px;

}

.group9784 .group9703 .ellipse18139a61e31 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(52, 52, 52, 1);
        stroke-width: 2.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 7.00px;
  height: 7.00px;
  left: 0.00px;
  top: 8.00px;

}

.group9784 .group9703 .group970451443c78 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 275.00px;
  height: 37.00px;
  left: 0.00px;
  top: 101.00px;

}

.group9784 .group9703 .group970451443c78 .rectangle857456af162 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/rectangle857456af162.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 19.00px;
    border-top-right-radius: 19.00px;
    border-bottom-left-radius: 19.00px;
    border-bottom-right-radius: 19.00px;
    box-shadow: none;
    width: 275.00px;
  height: 37.00px;
  left: 0.00px;
  top: 0.00px;

}

.group9784 .group9703 .group970451443c78 .viewProject44ec6331 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 28.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 14.00px;
    font-weight: 500;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 86.00px;
  height: 20.00px;
  left: 95.00px;
  top: 4.00px;

}

.group9784 .group9705 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 276.00px;
  height: 138.00px;
  left: 32.00px;
  top: 263.00px;

}

.group9784 .group9705 .xae16d4a9 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(40, 150, 233, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 16.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 37.00px;
  height: 23.00px;
  left: 186.00px;
  top: 0.00px;

}

.group9784 .group9705 .phpProject {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(52, 52, 52, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 101.00px;
  height: 21.00px;
  left: 15.00px;
  top: 0.77px;

}

.group9784 .group9705 .loremIpsumIsSimplyDummyTextOfThePrintingAndTypesettingIndustryLoremIpsumHasBeenTheIndustrysStandardDummyTextEverSinceThe1500sWhenAnUnknownPrinterTookAGalley {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(52, 52, 52, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 10.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 276.00px;
  height: 63.00px;
  left: 0.00px;
  top: 25.00px;

}

.group9784 .group9705 .in3Days {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(181, 181, 181, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 10.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 46.00px;
  height: 15.00px;
  left: 229.00px;
  top: 4.00px;

}

.group9784 .group9705 .ellipse181 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    fill: transparent;
    stroke: rgba(52, 52, 52, 1);
        stroke-width: 2.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 7.00px;
  height: 7.00px;
  left: 0.00px;
  top: 8.00px;

}

.group9784 .group9705 .group9704 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 275.00px;
  height: 37.00px;
  left: 0.00px;
  top: 101.00px;

}

.group9784 .group9705 .group9704 .rectangle857 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/rectangle857.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 19.00px;
    border-top-right-radius: 19.00px;
    border-bottom-left-radius: 19.00px;
    border-bottom-right-radius: 19.00px;
    box-shadow: none;
    width: 275.00px;
  height: 37.00px;
  left: 0.00px;
  top: 0.00px;

}

.group9784 .group9705 .group9704 .viewProject {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 28.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 14.00px;
    font-weight: 500;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 86.00px;
  height: 20.00px;
  left: 95.00px;
  top: 4.00px;

}

.group9784 .rectangle1747 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(243, 243, 243, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 272.00px;
  height: 3.00px;
  left: 32.00px;
  top: 68.00px;

}

.group9784 .line10 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    stroke: rgba(230, 230, 230, 1);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 272.00px;
  height: 1.00px;
  left: 32.50px;
  top: 247.00px;

}

.group9784 .x30June18 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(128, 114, 114, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Poppins, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 62.00px;
  height: 17.00px;
  left: 21.00px;
  top: 146.77px;

}

.pexelsGdtography911738 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/pexelsGdtography911738.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 997.00px;
  height: 889.00px;
  left: 370.00px;
  top: 8344.00px;

}

.pexelsGdtography950241 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("../../assets/pexelsGdtography950241.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 1003.00px;
  height: 889.00px;
  left: 1731.00px;
  top: 8344.00px;

}

